$white: #fff
$black: #111
$dark-grey: #39424E
$dark-purple: #545
$font: 'Didact Gothic','sans serif'
$body-size: 16px
$body-text: $white
$content-text: $black
$content-background-color: #fffffff0

$links: darken($white, 20%)
$links-hover: $white

$code-block: #000004
